<div class="anime-search">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Введіть назву аніме"
      (input)="searchAnime()"
    />
  </div>
  
  <div class="anime-list">
    <div *ngFor="let anime of animeList" class="anime-item">
      <a routerLink="/anime/{{ anime.id }}" routerLinkActive="active" ariaCurrentWhenActive="page">
        FUCKING TEST IT
        <h3>{{ anime.title }}</h3>
        <p>Description: {{ anime.description }}</p>
      </a>
    </div>
  </div>
  