<div class="video-player" 
    id="player" 
    [attr.isPlaying]="isPlaying ? 'true' : 'false'" 
    [attr.isMuted]="isMuted ? 'true' : 'false'"
    [attr.isFullscreen]="isFullscreen ? 'true' : 'false'">

  <video #videoElement poster="assets/poster.png"></video>
  <audio #audioElement></audio>
  <div id="ass-container" (click)="handleClick()"></div>

  <!-- Play/Pause button in the middle -->
  <img
    src="assets/icons/video-player/playFilled.svg"
    alt="Play"
    id="playPauseButton"
    (click)="togglePlayback()"
  >

  <!-- Player control buttons -->
  <div class="controls">
    
    <!-- Timeline -->
    <div id="container-timeline">
      <div id="lines">
        <div id="hoverTime"
          *ngIf="hoverTimeVisible" 
          [style.left.px]="hoverTimePosition">
          {{ hoverTime * 1000 | date:'m:ss' }}
        </div>

        <div id="buffer-bar" [style.width.%]="bufferedPercentage"></div>
        <div id="progress-bar" [style.width.%]="playedPercentage - 0.1"></div>

        <input type="range" id="timeline" min="0" [max]="duration" step="0.1" 
        [value]="currentTime" 
        (input)="seekVideo($event)"
        (mousemove)="showHoverTime($event)"
        (mouseleave)="hideHoverTime()" />
      </div>
    </div>
    
    <!-- Bottom controls -->
    <div class="bottom">
      <div class="container">
        <img
          src="assets/icons/video-player/previous.svg"
          alt="Previous"
          id="prevEpisode"
        
        >
        <img
          [src]="isPlaying ? 'assets/icons/video-player/pause.svg' : 'assets/icons/video-player/play.svg'"
          alt="Play"
          id="bottomPlayPauseButton"
          (click)="togglePlayback()"
        >
        <img
          src="assets/icons/video-player/next.svg"
          alt="Next"
          id="nextEpisode"
        
        >
        <div class="volume-control">
          <img
            [src]="isMuted ? 'assets/icons/video-player/speaker-nosound.svg' : 'assets/icons/video-player/speaker-fullsound.svg'"
            alt="Mute"
            id="soundToggle"
            (click)="toggleMute()"
          >
          <div class="container">
            <input type="range" id="volumeSlider" min="0" max="1" step="0.01"
              [value]="audioElement.volume"
              (input)="changeVolume()" />
          </div>
        </div>
        <div id="time">{{ currentTime * 1000 | date:'m:ss' }} / {{ duration * 1000| date:'m:ss' }}</div>
      </div>
      <div class="container">
        <img
          src="assets/icons/video-player/settings.svg"
          alt="Mute"
          id="settingsButton"
          
        >
        <div id="settings">
          <!-- List for audio tracks and subtitles -->
          <p (click)="changeAudioTrack()">change audio</p>
          <p (click)="changeSubtitles()">change subtitles</p>
        </div>
        <img
          [src]="isFullscreen ? 'assets/icons/video-player/fullscreen-exit.svg' : 'assets/icons/video-player/fullscreen.svg'"
          alt="fullscreen"
          id="fullscreenToggle"
          (click)="toggleFullscreen()"
        >
      </div>
    </div>
  </div>
</div>
  